.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  .top-bar-container {
    max-width: $global-width;
    margin: 0 auto;
    width: 100%;
  }

  .site-brand {
    font-weight: bold;
    text-transform: uppercase;
  }

  .title-bar .title-bar-title {
    padding-left: 0.5rem;
  }

  .current-menu-item,
  .current_page_item {
    font-weight: bold;
  }

}
